<div class="listview col-md-12">
  <form (keydown)="submitSearch($event)"
    style="border:0px; float: right; margin-right: .5%;border-bottom: 1.5px solid; border-color: #7E66F9">
    <input type="text" placeholder="Search..." style="border:0px; font-size: 16px; background-color: #F8F9FE" />
  </form>
  <div class="listview-body">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="applicant">
        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Applicants </th>
        <td mat-cell *matCellDef="let applicant" [routerLink]="['/Home/Applicant', applicant.id]">
          {{applicant.form.employeeInformation}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="padding-top: 0px"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
  </div>
  <br />
  <div class="listview-body-title col-md-12"> <a [routerLink]="['/Home/ListView']" [queryParams]="{ status: 'all' }">
      View all loan applications
    </a>
  </div>
</div>